@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat", serif;
}

:root {
  --tecnm-blue_color: #1b386a;
  --white: #ffffff;
}

.principal_header {
  background-color: var(--tecnm-blue_color);
  color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.principal_header img {
  width: 10%;
  height: 10%;
  max-height: 80px;
}

main {
  background-image: url("../img/logotipos/Alas_logo.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid red;
  font-weight: 600;


  display: flex;
  flex-direction: row;
}


#LogoAlfabetizatec{
    max-width: 250px;
    max-height: 250px;
}
