@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat", serif;
}

:root {
  --azul_TecNM: #1b396a;
  --blanco_universal: #ffffff;
  --gris_contraste: #f7f7f7;
  --vino_sep: #621132;
  --azul_contraste: #007bff;
}

.full_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo_principal {
  text-align: center;
  margin: 1rem;
}
.principal_header {
  background-color: var(--azul_TecNM);
  color: var(--blanco_universal);
  display: flex;
  justify-content: space-between; /* Cambié para permitir el espacio entre el logo y el menú */
  align-items: center;
  padding: 1rem;
}

.principal_header img {
  height: 10%;
  max-height: 80px;
  max-width: 110px;
}

.logo_dinamico img:nth-of-type(1) {
  max-width: 50px;
}

.logo_dinamico {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  text-align: center;
}

.logo_dinamico p:nth-child(2) {
  font-weight: 600;
  color: var(--blanco_universal);
  line-height: 1.5; /* Mejora la separación entre líneas */
}

.logo_dinamico p:nth-child(1) {
  font-weight: 300;
  color: var(--blanco_universal);
}

/* Ocultar la imagen 3 en dispositivos con ancho menor o igual a 768px */
@media (max-width: 768px) {
  .principal_header img:nth-of-type(2) {
    display: none;
  }
  .principal_header img:nth-of-type(1) {
    width: 70%;
  }

  .logo_dinamico p:nth-child(2) {
font-size: .5rem;  
  }
  
  .logo_dinamico p:nth-child(1) {
   font-size: 1rem;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-left: 20px;
}

.menu ul li a {
  color: var(--blanco_universal);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu ul li a:hover {
  background-color: var(--tecnm-blue);
}

.btn_submit {
  padding: 1.3rem;
  background-color: var(--azul_TecNM);
  color: var(--blanco_universal);
  border: none;
  outline: none;
  border-radius: 1rem;
  margin: 1rem;
}

.btn_submit:hover {
  background-color: #0056b3; /* Un azul más oscuro */
  transform: scale(1.1); /* Agranda ligeramente el botón */
  transition: all 0.2s ease-in-out;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
  font-size: 0.9rem;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.Bread {
  font-size: 0.8rem;
}


.tooltip{
  font-size: .7rem;
  
}